@font-face {
    font-family: Outfit;
    src: url('./recipe-page-main/assets/fonts/outfit/Outfit-VariableFont_wght.ttf') format('truetype');
}
@font-face {
    font-family: YoungSerif;
    src: url('./recipe-page-main/assets/fonts/young-serif/YoungSerif-Regular.ttf') format('truetype');
}

body {
    font-family: YoungSerif, Outfit, sans-serif;
}
